@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
  --cyan: hsl(179, 62%, 43%);
  --cyan2: rgb(74, 190, 189);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--light-gray);
  font-family: 'Karla', sans-serif;
}

.App {
  display: grid;
  align-self: center;
  justify-self: center;
  grid-auto-rows: minmax(200px, auto);
  border-radius: 0.5em;
  overflow: hidden;
  width: 600px;
  box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.15);
}
