.container {
  background-color: #fff;
  padding: 36px;
}

.title {
  color: var(--cyan);
  padding-bottom: 24px;
  font-weight: 700;
}

.subtitle {
  color: var(--bright-yellow);
  padding-bottom: 8px;
  font-weight: 700;
}

.description {
  color: hsla(218, 22%, 67%, 0.75);
  line-height: 1.4;
  font-size: 1em;
}

@media (max-width: 500px) {
  .container {
    padding: 26px;
  }
}
